n8n-workflows/请假审批-复杂条件-驳回.json
{
  "name": "请假审批-复杂条件-驳回",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "leave-workflow",
        "options": {}
      },
      "name": "接收工单",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3568,
        448
      ],
      "webhookId": "leave-workflow",
      "id": "3844ec09-c2d5-40c4-b73d-65ece33fcaef"
    },
    {
      "parameters": {
        "jsCode": "// 提取数据\nconst body = $input.first().json.body;\nconst ticket = body.ticket;\nconst formData = ticket.formData;\n\n// 计算请假天数\nconst startDate = new Date(formData.startDate);\nconst endDate = new Date(formData.endDate);\nconst days = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;\n\n// 判断请假类型\nconst leaveType = formData.leaveType; // 病假、事假、年假\n\n// 判断是否需要HR审批（病假超过3天或事假超过1天）\nconst needHrApproval = (leaveType === '病假' && days > 3) || (leaveType === '事假' && days > 1);\n\n// 判断是否需要总经理审批（超过5天）\nconst needCeoApproval = days > 5;\n\nreturn [{\n  json: {\n    ...body,\n    calculated: {\n      ticketId: ticket.id,\n      days,\n      leaveType,\n      needHrApproval,\n      needCeoApproval\n    }\n  }\n}];"
      },
      "name": "计算条件",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        448
      ],
      "id": "e9f5d51c-72bb-47f8-aa1e-776bad7f47ef"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/create-task",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ticketId",
              "value": "={{ $json.ticket.id }}"
            },
            {
              "name": "nodeId",
              "value": "manager_approval"
            },
            {
              "name": "nodeName",
              "value": "部门经理审批"
            },
            {
              "name": "assigneeType",
              "value": "4"
            },
            {
              "name": "assigneeId",
              "value": "2"
            },
            {
              "name": "taskType",
              "value": "1"
            },
            {
              "name": "n8nExecutionId",
              "value": "={{ $execution.id }}"
            },
            {
              "name": "dueTime",
              "value": "={{ new Date(Date.now() + 86400000).toISOString() }}"
            },
            {
              "name": "calculated",
              "value": "={{ JSON.stringify($json.calculated) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff63248a-cb9b-4928-be88-5fb9fd2b1f51",
      "name": "创建经理审批任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3168,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "reject",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "是否驳回",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2768,
        448
      ],
      "id": "2ab9a54f-c328-417f-b69e-441bda6da331"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/complete-node",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.body?.ticketId,\n  \"nodeId\": \"manager_approval\",\n  \"action\": \"reject\",\n  \"comment\": $json.body?.comment || '经理审批驳回'\n}) }}",
        "options": {}
      },
      "name": "经理驳回-结束",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2560,
        304
      ],
      "id": "cc6220ac-2a75-45d0-a736-6000f7a7f6f7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/complete-node",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.body?.ticketId,\n  \"nodeId\": \"manager_approval\",\n  \"action\": \"complete\",\n  \"comment\": $json.body?.comment || '经理审批通过'\n}) }}",
        "options": {}
      },
      "name": "经理通过",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2560,
        160
      ],
      "id": "manager-approve-complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $('经理通过').first().json.calculated?.needCeoApproval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "需要总经理审批",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2560,
        448
      ],
      "id": "e477f3bd-5798-4c41-af34-e73c5c730d7d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/create-task",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $('需要总经理审批').first().json.calculated?.ticketId,\n  \"nodeId\": \"ceo_approval\",\n  \"nodeName\": \"总经理审批\",\n  \"assigneeType\": 2,\n  \"assigneeId\": 3,\n  \"taskType\": 1,\n  \"n8nExecutionId\": $execution.id,\n  \"dueTime\": new Date(Date.now() + 86400000).toISOString(),\n  \"calculated\": $('需要总经理审批').first().json.calculated\n}) }}",
        "options": {}
      },
      "name": "创建CEO审批任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2368,
        352
      ],
      "id": "b3d2add5-c714-4703-b654-c7360def25d1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-callback-ceo",
        "options": {}
      },
      "name": "等待CEO审批",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2160,
        352
      ],
      "id": "31cd38bf-513b-4d0a-8696-bf21063fe7e3",
      "webhookId": "approval-callback-ceo"
    },
    {
      "parameters": {
        "jsCode": "// 从 Webhook 数据中提取审批结果\nconst input = $input.first().json;\nconst body = input.body || input;\n\nreturn [{\n  json: {\n    body: body\n  }\n}];"
      },
      "name": "解析CEO审批结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        352
      ],
      "id": "60f90913-4a2b-4d0a-88ce-800464e330db"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "reject",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "CEO是否驳回",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1968,
        352
      ],
      "id": "325f33a0-b197-4572-93fc-437071db417a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/complete-node",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.body?.ticketId,\n  \"nodeId\": \"ceo_approval\",\n  \"action\": \"reject\",\n  \"comment\": $json.body?.comment || 'CEO审批驳回'\n}) }}",
        "options": {}
      },
      "name": "CEO驳回-结束",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1760,
        240
      ],
      "id": "8d66e1c8-6134-4fac-89d0-0a9306f49fb2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/complete-node",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.body?.ticketId,\n  \"nodeId\": \"ceo_approval\",\n  \"action\": \"complete\",\n  \"comment\": $json.body?.comment || 'CEO审批通过'\n}) }}",
        "options": {}
      },
      "name": "CEO通过",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1760,
        96
      ],
      "id": "ceo-approve-complete"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.calculated?.days || $('经理通过').first().json.calculated?.days || $('CEO通过').first().json.calculated?.days }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt",
                "name": "filter.operator.gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "需要HR审批",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -2368,
        544
      ],
      "id": "c7918137-d9f5-4b72-8f63-701ad1046621"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/create-task",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.calculated?.ticketId || $('需要HR审批').first().json.calculated?.ticketId,\n  \"nodeId\": \"hr_approval\",\n  \"nodeName\": \"HR审批\",\n  \"assigneeType\": 2,\n  \"assigneeId\": 4,\n  \"taskType\": 1,\n  \"n8nExecutionId\": $execution.id,\n  \"dueTime\": new Date(Date.now() + 86400000).toISOString(),\n  \"calculated\": $json.calculated || $('需要HR审批').first().json.calculated\n}) }}",
        "options": {}
      },
      "name": "创建HR审批任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2160,
        544
      ],
      "id": "e5087846-c69f-4f2d-b4bf-0fb4d74d71b2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-callback-hr",
        "options": {}
      },
      "name": "等待HR审批",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1968,
        544
      ],
      "id": "dd1ee9ee-ce91-4c10-9411-dc70758cab7b",
      "webhookId": "approval-callback-hr"
    },
    {
      "parameters": {
        "jsCode": "// 从 Webhook 数据中提取审批结果\nconst input = $input.first().json;\nconst body = input.body || input;\n\nreturn [{\n  json: {\n    body: body\n  }\n}];"
      },
      "name": "解析HR审批结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        544
      ],
      "id": "2ddede98-e0fd-41e9-a5c2-0caf0bc410e5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "reject",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "HR是否驳回",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -1760,
        544
      ],
      "id": "d98f9d03-eb4c-484e-aafe-737533c5c615"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/complete-node",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.body?.ticketId,\n  \"nodeId\": \"hr_approval\",\n  \"action\": \"reject\",\n  \"comment\": $json.body?.comment || 'HR审批驳回',\n  \"nextNode\": {\n    \"id\": \"manager_approval\",\n    \"name\": \"部门经理审批\"\n  }\n}) }}",
        "options": {}
      },
      "name": "HR驳回-回退经理",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1568,
        448
      ],
      "id": "2b7a3006-7e2c-486a-8a8e-15d0a58d993b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.16.194.111:3000/api/webhook/n8n/complete-node",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"ticketId\": $json.data?.calculated?.ticketId || $json.calculated?.ticketId,\n  \"nodeId\": \"end\",\n  \"action\": \"complete\",\n  \"comment\": '流程完成'\n}) }}",
        "options": {}
      },
      "name": "流程完成",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1568,
        640
      ],
      "id": "97129d58-b1df-4662-95a2-6e6853d16591"
    },
    {
      "parameters": {
        "path": "f01afd3b-7902-49d9-bdea-be859727f4e3",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        144
      ],
      "id": "0749efe1-ac38-4ecb-981e-534cb41dc878",
      "name": "Webhook",
      "webhookId": "f01afd3b-7902-49d9-bdea-be859727f4e3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-callback-manager",
        "options": {}
      },
      "name": "等待经理审批",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2960,
        448
      ],
      "id": "43615fe5-1378-46fa-80bd-a162068f4876",
      "webhookId": "approval-callback-manager"
    },
    {
      "parameters": {
        "jsCode": "// 从 Webhook 数据中提取审批结果\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconsole.log('解析经理审批结果 - 原始输入:', JSON.stringify(input));\nconsole.log('解析经理审批结果 - body:', JSON.stringify(body));\nconsole.log('解析经理审批结果 - action:', body.action);\nconsole.log('解析经理审批结果 - calculated:', JSON.stringify(body.calculated));\n\n// 从 Webhook body 中获取 calculated 数据（由后端传递）\nconst calcData = body.calculated || {};\n\nreturn [{\n  json: {\n    body: body,\n    calculated: calcData\n  }\n}];"
      },
      "name": "解析经理审批结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2768,
        448
      ],
      "id": "b7aedec1-5426-449e-b141-cbbbe363f3d5"
    }
  ],
  "pinData": {},
  "connections": {
    "接收工单": {
      "main": [
        [
          {
            "node": "计算条件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "计算条件": {
      "main": [
        [
          {
            "node": "创建经理审批任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否驳回": {
      "main": [
        [
          {
            "node": "经理驳回-结束",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "经理通过",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "经理通过": {
      "main": [
        [
          {
            "node": "需要总经理审批",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "需要总经理审批": {
      "main": [
        [
          {
            "node": "创建CEO审批任务",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "需要HR审批",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待CEO审批": {
      "main": [
        [
          {
            "node": "解析CEO审批结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析CEO审批结果": {
      "main": [
        [
          {
            "node": "CEO是否驳回",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CEO是否驳回": {
      "main": [
        [
          {
            "node": "CEO驳回-结束",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CEO通过",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CEO通过": {
      "main": [
        [
          {
            "node": "需要HR审批",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "需要HR审批": {
      "main": [
        [
          {
            "node": "创建HR审批任务",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "流程完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待HR审批": {
      "main": [
        [
          {
            "node": "解析HR审批结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析HR审批结果": {
      "main": [
        [
          {
            "node": "HR是否驳回",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析经理审批结果": {
      "main": [
        [
          {
            "node": "是否驳回",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HR是否驳回": {
      "main": [
        [
          {
            "node": "HR驳回-回退经理",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "流程完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "等待经理审批": {
      "main": [
        [
          {
            "node": "解析经理审批结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "286bdd9f-9d3d-43ff-b856-7013d54565e5",
  "meta": {
    "instanceId": "fd901894d258c04d97729851e07bb25735aa29c777b495cbcd0b01f957bd2bfd"
  },
  "id": "TsyXWhzenbC4iZU8",
  "tags": []
}